@font-face {
    font-family: "Cera Pro";
    src: 
        local('CeraPro-Regular'), 
        url("./assets//CeraPro-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Cera Pro';
    src: 
        local('CeraPro-Bold'),
        url("./assets/CeraPro-Bold.ttf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

:root {
    --color-red: rgba(228, 5, 33, .8);
    --primary-font-family: 'Cera Pro', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --primary-font-size: ;
    --primary-font-color: black;
    --secondary-font-size: .8rem;
    --secondary-font-color: rgba(128, 128, 128, .7);
    --box-shadow: 0 0 22px -8px rgba(0, 0, 0, 1);
    --scroll-bar-color: rgba(76, 76, 81, 1);
    --scroll-bar-hover-color: rgba(76, 76, 81, 1);
    --primary-bg-color: white;
    --secondary-bg-color: white;
    --radio-selected-color: var(--color-red);
    --header-offset: -5rem;
    --logo-height: 9.6rem;
    --card-padding: 1.5rem;
    --button-bg-color: transparent;
    --button-box-shadow: none;
    --button-hover-box-shadow: 0px 0px 5px 0px rgba(145, 145, 145, 1);
    --button-border: 1px solid var(--secondary-font-color);
    --feedback-bg-color: var(--primary-bg-color);
    --radio-selected-color: rgba(228, 5, 33, .8);
    --radio-bg-color: rgba(125, 125, 125, .05);
    --highlight-color: black;
}

::-webkit-scrollbar {
    width: 1.5rem;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px -5px white;
    -webkit-box-shadow: inset 0 0 10px -5px white;
    -moz-box-shadow: inset 0 0 10px -5px white;
    border: solid 10px transparent;
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
    height: 2.5rem;
    border-radius: 1rem;
    box-shadow: inset 0 0 10px 10px var(--scroll-bar-color);
    border: solid 7px transparent;
}

::-webkit-scrollbar-thumb:hover {
    box-shadow: inset 0 0 10px 10px var(--scroll-bar-hover-color);
}

html {
    background-color: var(--primary-bg-color);
    font-family: var(--primary-font-family);
    color: var(--primary-font-color);
    min-height: 100%;
    padding-top: calc(-1 * var(--header-offset));
}

body, html {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-basis: 100%;
}

* {
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: 0;
    border: 0;
}

.card {
    background-color: var(--secondary-bg-color);
    box-shadow: var(--box-shadow);
    -webkit-box-shadow: var(--box-shadow);
    -moz-box-shadow: var(--box-shadow);
    max-width: 44rem;
    padding: var(--card-padding);
    margin: 1rem;
    border-radius: 1.5rem;
    padding-top: calc(var(--logo-height) / 2);
}

.card__item {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border: 2px dashed transparent;
    padding: 0 .5rem;
}

.highlight {
    animation: blink 1s;
    animation-iteration-count: 3;
}

.slide {
    float: left;
}

.hide,
input {
    height: 0;
    display: none;
    overflow: hidden;
}

input[type="radio"]:checked+label::after {
    width: 100%;
    height: 100%;
    border: 1px solid var(--radio-selected-color);
}

input[type="radio"]:checked+label {
    color: white;
}

.col {
    margin: .5rem 0;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 1rem
}

.col label::after {
    content: '';
    transform: translateY(-50%);
    position: absolute;
    width: 0%;
    height: 0%;
    top: 50%;
    margin: auto;
    display: block;
    z-index: -1;
    border-radius: 50%;
    background-color: var(--radio-selected-color);
    border: 0;
    transition-duration: .6s;
    opacity: 1;
}

.col label {
    cursor: pointer;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    transition: color .2s;
    background-color: var(--radio-bg-color);
    max-height: 4rem;
    height: 4rem;
    margin: auto;
    min-height: 2rem;
    font-weight: bold;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    font-size: 1.4em;
    z-index: 1;
    border: 1px dashed transparent;
}

.question {
    font-size: 1.1rem;
    padding: .5rem 0;
    font-weight: bold;
    text-align: center;
}

.row {
    display: grid;
    justify-content: center;
    align-items: center;
}

.row:first-child {
    grid-template-columns: repeat(6, 1fr);
}

.row:last-child {
    grid-template-columns: .5fr repeat(5, 1fr) .5fr;
}

.row:last-child label:nth-child(2) {
    grid-column: 2;
}

.legend:last-child {
    text-align: right;
    padding-right: .5rem;
}

.legend:first-child {
    text-align: left;
    padding-left: .5rem;
}

.feedback {
    resize: none;
    cursor: auto;
    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid rgba(128, 128, 128, .7);
    background-color: var(--feedback-bg-color);
    color: var(--primary-font-color)
}

.feedback::placeholder,
.legend {
    color: var(--secondary-font-color);
    font-size: var(--secondary-font-size);
    font-style: italic;
    user-select: none;
}

.card_footer {
    margin-top: 1rem;
}

.submit {
    cursor: pointer;
    opacity: .8;
    padding: 1rem;
    display: block;
    font-weight: 800;
    margin: .8rem .5rem 0 .5rem;
    user-select: none;
    text-align: center;
    border-radius: .5rem;
    color: var(--primary-font-color);
    font-size: var(--primary-font-size);
    background-color: var(--button-bg-color);
    border: var(--button-border);
    box-shadow: var(--button-box-shadow);
    -webkit-box-shadow: var(--button-box-shadow);
    -moz-box-shadow: var(--button-box-shadow);
    position: relative;
    overflow: hidden;
    z-index: 10;
    transition: box-shadow 1s;
}

.submit:hover {
    opacity: 1;
    box-shadow: var(--button-hover-box-shadow);
    -webkit-box-shadow: var(--button-hover-box-shadow);
    -moz-box-shadow: var(--button-hover-box-shadow);
}

.card__header {
    height: 0;
    display: flex;
}

.logo__container {
    display: flex;
    flex: 1 1 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 2rem;
    margin-top: calc(-1 * var(--logo-height));
}

.logo {
    background-color: var(--secondary-bg-color);
    -webkit-box-shadow: var(--box-shadow);
    -moz-box-shadow: var(--box-shadow);
    box-shadow: var(--box-shadow);
    height: var(--logo-height);
    border-radius: 1rem;
    padding: 1.2rem;
}

.thanks p:first-child {
    text-align: center;
    font-size: 2rem;
    padding: 5rem 9rem;
    padding-bottom: 0;
}

.thanks p:last-child {
    text-align: center;
    padding: 6rem 1rem 0 1rem;
    color: var(--secondary-font-color);
    font-size: var(--secondary-font-size);
}

/* Color schemes */
@media screen and (prefers-color-scheme: dark) {
    :root {
        --primary-bg-color: rgb(76, 82, 89);
        --secondary-bg-color: rgb(33, 38, 43);
        --primary-font-color: rgb(215, 215, 213);
        --secondary-font-color: rgb(102, 108, 115);
        --feedback-bg-color: var(--secondary-bg-color);
        --radio-selected-color: rgba(228, 5, 33, .8);
        --radio-bg-color: rgba(255, 255, 255, .1);
        --highlight-color: white;
        --button-bg-color: var(--primary-bg-color);
        --button-box-shadow: var(--box-shadow);
        --button-border: 0;
        --button-hover-box-shadow: none;
    }

    .submit {
        border: 0;
    }
}

/* Responsive */
@media screen and (max-width: 768px) {
    .row label {
        height: 3.2rem;
    }

    .logo {
        height: 8rem;
    }
}

@media screen and (max-width: 576px) {
    .row label {
        height: 2.5rem;
    }

    .header__container {
        padding: 0;
    }
}

@media screen and (max-width: 480px) {
    .row label {
        height: 2.5rem;
        font-size: 1rem;
    }

    .question {
        font-size: .8rem;
    }

    .feedback {
        font-size: .7rem;
    }

    .legend {
        font-size: .7rem;
    }

    .thanks p:first-child {
        padding: 2rem 0 4rem 0;
    }

    .thanks p:last-child {
        padding: 0;
    }
}

@media screen and (max-width: 375px) {
    .row label {
        height: 2.4rem;
        font-size: .8rem;
    }

    .logo {
        height: 7rem;
    }
}

@media screen and (max-width: 320px) {
    .row label {
        height: 1rem;
        font-size: .8rem;
    }

    .logo {
        height: 6rem;
    }
}

@keyframes blink {
    50% {
        border-color: var(--highlight-color);
    }
}